<%- include('partials/head') %>

    <%- include('partials/navbar') %>

    <h1>Hello world</h1>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium itaque ut, expedita totam molestiae nihil! Ipsam accusantium perferendis voluptatem nisi libero voluptatum porro adipisci facere consequuntur? Nesciunt autem quos deleniti. </h3>
    
    <%- include('partials/footer') %>